<title> La Razón feed </title>

<div id="recent_episodes">
  <h3>La Razón feed</h3>
  <ul>
    <% @feed_list.each do |feed| %>
      <li>
        <img src="<%= feed.image_url %>" class="img-responsive img-rounded" />
        <%= link_to h(feed.name), feed.url %>
      </li>
    <% end %>
  </ul>
</div>
