<title> La Razón feed </title>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">La Razón feed</h1>
    </div>
  </div>

  <% @feed_list.each do |feed| %>
    <div class="row" style="border-bottom: 1px solid #000">
      <div class="col-xs-3">
        <img src="<%= feed.image_url %>" class="img-responsive img-rounded pull-left" />
      </div>
      <div class="col-xs-9">
        <%= link_to h(feed.name), feed.url, target: '_blank' %>
      </div>
    </div>
  <% end %>

</div>
