<div class="section section-primary">
  <div class="row">
    <div class="col-md-12">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="nav nav-justified nav-pills">
              <li class="active section-nav">
                <a href="#">Portada</a>
              </li>
              <li class="active section-nav">
                <a href="#">Nacional</a>
              </li>
              <li class="active section-nav">
                <a href="#">Economía</a>
              </li>
              <li class="active section-nav">
                <a href="#">Deportes</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
