<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Nacional</h2>
        <div class="row">
          <div class="col-md-12">
            <div class="section">
              <div class="container col-md-12">
                <h4>El 52,6 % de bolivianos rechaza reformas legales para reelección de Morales
                  eading</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="section">
              <div class="container col-md-12">
                <h4>Piden al Gobierno cobrar a cocaleros y mineros para subir recaudaciones</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="section">
              <div class="container col-md-12">
                <h4>Silva dice que el Alcalde está detrás de las protestas contra el teleférico,
                  Siñani lo niega</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>