<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section">
          <div class="container">
            <div class="row">
              <div class="col-md-8 nopadding">
                <div class="section">
                  <% 8.times do |idx| %>
                    <% if articles[idx].image_url.nil? %>
                      <%= render 'layouts/article_frame', article: articles[idx] %>
                    <% else %>
                      <%= render 'layouts/article_image_frame', article: articles[idx] %>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="section">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-4">
                        <%= render 'layouts/section_nav_pane', listing: section_listing("economia"), name: "Economía"%>
                      </div>
                    </div>
                  </div>

                  <div class="container">
                    <div class="row">
                      <div class="col-md-4">
                        <%= render 'layouts/section_nav_pane', listing: section_listing("nacional"), name: "Nacional"%>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>